.board {
	display: grid;
	justify-content: center;
	user-select: none;
}

.boardSix {
	grid-template-columns: repeat(6, 55px);
	grid-template-rows: repeat(6, 55px);
	gap: 2px;
}

.boardEight {
	grid-template-columns: repeat(8, 42px);
	grid-template-rows: repeat(8, 42px);
	gap: 2px;
}

.boardTen {
	grid-template-columns: repeat(10, 33px);
	grid-template-rows: repeat(10, 33px);
	gap: 2px;
}
