.cell {
	background-color: #b0b0b0;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	font-weight: 600;
	font-size: 1rem;
}

.cell:hover {
	background-color: #f5f5f5;
}

.cell.revealed {
	background-color: #f5f5f5;
}
